<div class="layout" [class.is-collapsed]="sidebarCollapsed">
  <app-main-sidebar [(collapsed)]="sidebarCollapsed"></app-main-sidebar>

  <app-main-header [collapsed] = "sidebarCollapsed"></app-main-header>


  <div class="min-h-screen overflow-x-hidden transition-[margin,width] duration-300 ease-in-out pt-16 px-4"
    [style.marginLeft.rem]="sidebarCollapsed ? 4 : 16"
    [style.width]="sidebarCollapsed ? 'calc(100vw - 4rem)' : 'calc(100vw - 16rem)'">
    <router-outlet />
    <ng-template appDialogHost></ng-template>
  </div>
</div>

