<div class="p-4">
  <button class="bg-blue-500 dark:bg-slate-900 text-white px-4 py-2 rounded" (click)="openModal()">
    Open modal
  </button>

  <app-wpm-modal 
    #modal
    [open]="show()"
    (openChange)="show.set($event)"
    title="Create Task"
    variant="bottom"
    widthClass="w-4xl" 
    [closeOnBackdrop]="true"
    [closeOnEsc]="true" 
    (closed)="show.set(false)">
    @if (show()) {
      <app-task-modal 
        [task]="data"
        (save)="onTaskSave($event); modal.close()"
        (cancel)="modal.close()">>
      </app-task-modal>
    }
  </app-wpm-modal>
</div>