<div class="p-4">
  <button class="bg-blue-500 dark:bg-slate-900 text-white px-4 py-2 rounded" (click)="openModal()">
    Open modal
  </button>

  <app-wpm-modal 
    #modal
    [open]="show()"
    (openChange)="show.set($event)"
    title="Create Task"
    widthClass="w-[28rem]" 
    [closeOnBackdrop]="true"
    [closeOnEsc]="true" 
    (closed)="show.set(false)">
    @if (show()) {
      <app-task-modal 
        [task]="data"
        (save)="onTaskSave($event); modal.close()"
        (cancel)="modal.close()">>
      </app-task-modal>
    }
  </app-wpm-modal>

  <!-- @if (isModalOpen()) {

  <div id="modal-overlay" class="fixed inset-0 z-[9990] bg-black/60 flex items-stretch"
    (click)="onOverlayClick($event)">
    <div id="modal-content" 
      class="relative ml-auto h-full w-80 bg-white dark:bg-gray-900 dark:text-gray-100 shadow-xl
               transform transition-transform duration-300 ease-in-out will-change-transform
               z-[9991] border-l border-gray-200/70 dark:border-gray-700" 
      [class.translate-x-0]="slideIn()"
      [class.translate-x-full]="!slideIn()" 
      (click)="$event.stopPropagation()">
      <div class="flex flex-col h-full">
        <div class="sticky top-0 px-6 py-4 border-b bg-inherit z-10">
          <h2 class="text-2xl font-bold">Modal Title</h2>
          <button class="absolute top-2 right-2 text-gray-600 hover:text-gray-900" (click)="closeModal()"
            aria-label="Close">
            ✕
          </button>
        </div>

        <div class="px-6 py-4 overflow-y-auto grow">
          <p>Long content…</p>
        </div>

        <div class="sticky bottom-0 px-6 py-3 border-t bg-inherit">
          <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  } -->
</div>