<!-- Outer shell: fixed left, full height, animated width -->
<aside
  class="fixed top-0 left-0 z-40 h-full border-r border-slate-150 bg-blue-50 dark:border-navy-700 dark:bg-navy-800 transform-gpu transition-[width] duration-300 ease-in md:z-[60]"
  [class.w-16]="collapsed" [class.w-64]="!collapsed" role="navigation" aria-label="Primary">
  <div class="flex h-full w-full flex-col">
    <!-- Header: logo + toggle -->
    <div class="flex items-center justify-between px-3 pt-4">
      <a routerLink="/" class="flex items-center gap-2">
        <img class="h-11 w-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]"
          src="assets/images/app-logo.png" alt="App logo" />
        <!-- Hide brand text when collapsed -->
        <span class="text-sm font-semibold text-slate-700 dark:text-navy-100 transition-opacity duration-200"
          [class.opacity-0]="collapsed" [class.pointer-events-none]="collapsed">
          PM Tool
        </span>
      </a>

      <div class="flex items-center">
        <!-- some content -->
        <button type="button"
          class="inline-flex h-9 w-9 items-center justify-center rounded-full bg-blue-300 ml-auto hover:text-white hover:bg-blue-400 dark:hover:bg-navy-700"
          (click)="toggle()" [attr.aria-expanded]="!collapsed" [attr.aria-label]="ariaLabel" [title]="ariaLabel">
          <lucide-icon [name]="collapsed ? 'chevron-right' : 'chevron-left'" class="h-6 w-6"></lucide-icon>
        </button>
      </div>
      
    </div>

    <!-- Main nav -->
    <nav class="is-scrollbar-hidden flex grow flex-col gap-1 overflow-y-auto px-2 pt-6">
      <!-- Reusable item: icon always, label only when expanded -->
       @for(item of items; track item.label){
        <app-main-sidebar-item [icon]="item.icon" [label]="item.label" [tooltip]="item.tooltip" [redirectTo]="item.redirectTo"
          [collapsed]="collapsed" />
       }
    </nav>

    <!-- Bottom area (optional) -->
    <div class="px-2 py-3">
      @for(item of bottomItems; track item.label){
      <app-main-sidebar-item [icon]="item.icon" [label]="item.label" [tooltip]="item.tooltip" [redirectTo]="item.redirectTo"
        [collapsed]="collapsed" />
      }
    </div>
  </div>
</aside>