@import "tailwindcss";
@import '@angular/cdk/overlay-prebuilt.css';

/* defaults = expanded */
.layout {
  --sb-w: 16rem;
}

/* collapsed */
.layout.is-collapsed {
  --sb-w: 4rem;
}

/* sidebar (inside your sidebar component or a global rule that matches it) */
app-main-sidebar aside {
  width: var(--sb-w);
  transition: width 300ms ease-in-out, transform 300ms ease-in-out;
}

@media (max-width: 639px) {
  .layout {
    --sb-w: 0rem;
  }
  /* content stays full width on mobile */
}

html, body {
  overflow-x: hidden;
}

.task-dialog-panel .cdk-dialog-container>* {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
  width: 560px;
  max-width: 95vw;
  padding: 24px;
}
